<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="userCtrl" style="height:100%;">
<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>index</title>

<!-- main JS libs -->
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-animate.min.js"></script>
<script src="assets/js/angular-ui-router.min.js"></script>
<script src="assets/js/controller.js"></script>
<script src="assets/js/config.js"></script>
<script src="assets/js/socket.io-1.4.5.js"></script>

<script src="assets/js/libs/modernizr.min.js"></script>
<script src="assets/js/libs/jquery-1.10.0.js"></script>
<script src="assets/js/libs/jquery-ui.min.js"></script>
<script src="assets/js/libs/bootstrap.min.js"></script>

<!-- Style CSS -->
<link href="assets/css/bootstrap.css" media="screen" rel="stylesheet">
<link href="assets/css/bootstrap-theme.min.css" media="screen" rel="stylesheet">
<link href="assets/css/style.css" media="screen" rel="stylesheet">
<link href="assets/css/common.css" media="screen" rel="stylesheet">
<!-- scripts -->
<script src="assets/js/jquery.powerful-placeholder.min.js"></script>
<script src="assets/js/jquery.customInput.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<script src="assets/js/general.js"></script>
<!-- Include all needed stylesheets and scripts here -->
</head>

<body style="height:100%;" >
	<div class="body" ui-view></div>
</body>
</html>