<div class="container">
	<div style="margin-top:20px;" class="widget-container widget_avatar row my_widget_avatar boxed boxed-cream">
        <div class="inner clearfix">
            <div class="media">
                <a class="media-left media-middle avatar me" style="padding-right:0;" href="#">
                    <img src="assets/images/temp/avatar.png" alt="...">
                </a>
                <div class="media-body media-middle">
                    <h4 class="media-heading">{{name}}</h4>
                    <span class="subtitle" style="font-size:14px;" >No. : {{loginId}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
		<a style="margin-top:20px;width: 100%;max-width:400px;" ng-click="logout()" class="btn btn-large btn-green"><span>Logout</span></a>
    </div>
	
</div>