<div class="tab-pane fade in active">
				                <div class="row">
									<div class="widget-container widget_login styled boxed boxed-cream">
									    <div class="inner">
									        <!-- <form action="#" method="post" class="loginform"> -->
									            <div class="field_text">
									                <label for="login_login2" class="label_title">Login id</label>
									                <input ng-keyup="login_myKeyup($event)" autocomplete="off" type="text" name="log2" id="login_login2" ng-model="login.loginId" value="" placeholder="Login Id" style="height:36px"/>
									                <span class="input_icon input_id"></span>
									            </div>
									            <div class="field_text">
									                <label for="login_pass2" class="label_title">Password</label>
									                <input ng-keyup="login_myKeyup($event)" autocomplete="off" type="password" name="pwd2" id="login_pass2" ng-model="login.password" value="" placeholder="Password" style="height:36px"/>
									                <span class="input_icon input_pass"></span>
									            </div>
									            <div class="rowRemember clearfix">
									                <div class="forgetmenot input_styled checklist">
									                    <div class="rowCheckbox checkbox-middle">
									                        <input autocomplete="off" type="checkbox" name="remember2" id="remember2" value="" checked>
									                        <label for="remember2">Remember me?</label>
									                    </div>
									                </div>
									                <span class="forget_password"><a href="#">Forgot Password?</a></span>
									            </div>
									            <div class="rowSubmit">
									                <span class="btn btn-hover">
									                    <input type="button" name="login-submit2" ng-click="login_submit()" id="login-submit2" value="Login" />
									                </span>
									            </div>
									        <!-- </form> -->
									    </div>
									</div>
								</div>
				            </div>