
    <div class="body_wrap" style="height:100%;">
        <div class="container" style="height:100%;position:relative;">
			<div class="row" style="position:absolute;top:50%;width:100%;transform:translateY(-50%);">
				<div class="tabs_framed styled col-sm-6 col-md-4 col-xs-12" style="margin:0 auto;float:none;">
				    <div class="inner">
				        <ul class="tabs clearfix active_bookmark1" id="myTab">
				            <li ui-sref-active="active"><a ui-sref="login" >Login</a></li>
				            <li ui-sref-active="active"><a ui-sref="regist" >Register</a></li>
				        </ul>

				        <div class="tab-content clearfix" ui-view>
				            
				            
				        </div>
				    </div>
				</div>
								
					
			</div>
        </div>
        <!--/ container -->
    </div>
