<div class="tab-pane fade in active">
				                <div class="row">
									<div class="widget-container widget_login styled boxed boxed-cream">
									    <div class="inner">
									        <!-- <form action="#" method="post" class="loginform"> -->
									            <div class="field_text">
									                <label for="regist_login2" class="label_title">Login id</label>
									                <input ng-keyup="regist_myKeyup($event)" type="text" name="log2" id="regist_login2" ng-model="regist.loginId" value="" placeholder="Login Id" style="height:36px"/>
									                <span class="input_icon input_id"></span>
									            </div>
									            <div class="field_text">
									                <label for="login_pass2" class="label_title">Password</label>
									                <input ng-keyup="regist_myKeyup($event)" type="password" name="pwd2" id="login_pass2" ng-model="regist.password" value="" placeholder="Password" style="height:36px"/>
									                <span class="input_icon input_pass"></span>
									            </div>
									            <div class="field_text">
									                <label for="regist_login2" class="label_title">Name</label>
									                <input ng-keyup="regist_myKeyup($event)" type="text" name="log2" id="regist_login2" ng-model="regist.name" value="" placeholder="Name" style="height:36px"/>
									                <span class="input_icon input_id"></span>
									            </div>
									            <div class="rowSubmit">
									                <span class="btn btn-hover">
									                    <input type="button" name="regist-submit2" ng-click="regist_submit()" id="regist-submit2" value="Register" />
									                </span>
									            </div>
									        <!-- </form> -->
									    </div>
									</div>
								</div>
				            </div>